<p-card class="animal-card">
  <div class="item-content">
    <div class="item-info tour-animales-column-name">
      <div class="item-header">
        <h3>{{ animal().nombre }}</h3>
        <p-tag
          [value]="generoInfo().label"
          [icon]="generoInfo().icon"
          [severity]="generoInfo().severity"
          [rounded]="true"
        />
      </div>

      <p class="subtitle">
        {{ animal().especie.nombreComun }}
        <span class="dot">•</span>
        <span class="status-text">{{ animal().estado_operativo }}</span>
      </p>
    </div>

    <div class="item-actions tour-animales-column-actions">
      <p-button
        icon="pi pi-eye"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
        pTooltip="Ver Ficha"
        tooltipPosition="top"
        (onClick)="verDetalles()"
      />

      <p-button
        icon="pi pi-pencil"
        [rounded]="true"
        severity="info"
        [outlined]="true"
        pTooltip="Editar"
        tooltipPosition="top"
        [routerLink]="['/admin/animales/editar', animal().id_animal]"
      />

      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        severity="danger"
        [outlined]="true"
        pTooltip="Dar de baja"
        tooltipPosition="top"
        (onClick)="eliminar()"
      />
    </div>
  </div>
</p-card>
