:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  transition: filter 0.3s ease-in-out;
}

.image-loading {
  filter: blur(4px);
}

.image-loaded {
  filter: blur(0);
}
