<div class="osi-layout">
  <zoo-header>
    <p-button
      slot="nav-toggle"
      icon="pi pi-bars"
      [text]="true"
      [rounded]="true"
      (click)="toggleDrawer()"
    />
  </zoo-header>

  <div class="main-content-area">
    <router-outlet />
  </div>

  <p-drawer
    [(visible)]="drawerVisible"
    position="right"
    styleClass="osi-drawer"
  >
    <ng-template pTemplate="header">
      <h3 class="drawer-header-title">Panel OSI</h3>
    </ng-template>
    <zoo-sidebar-osi-menu />
  </p-drawer>
</div>
