@if (statsRequest(); as stats) {
<header class="stats-header">
  <h1 class="page-title">Resultados de la Encuesta</h1>
  <div class="stat-badge">
    <i class="pi pi-users"></i>
    <span
      >Total Participaciones:
      <strong>{{ stats.totalParticipations }}</strong></span
    >
  </div>
</header>

<div class="stats-grid">
  @for (chart of chartsData(); track chart.id) {
  <article class="chart-card">
    <header class="card-header">
      <h3 class="chart-title">{{ $index + 1 }}. {{ chart.title }}</h3>

      <div class="chart-controls">
        <p-selectButton
          [options]="chartTypeOptions"
          [ngModel]="chart.type"
          (onChange)="updateChartType(chart.id, $event.value)"
          optionLabel="title"
          optionValue="value"
        >
          <ng-template let-item pTemplate>
            <i [class]="item.icon" [title]="item.title"></i>
          </ng-template>
        </p-selectButton>
      </div>
    </header>

    <div class="chart-container">
      <p-chart
        [type]="chart.type"
        [data]="chart.data"
        [options]="chart.options"
        height="100%"
        width="100%"
      >
      </p-chart>
    </div>
  </article>
  } @empty {
  <div class="empty-state">No hay datos gráficos disponibles.</div>
  }
</div>
} @else {
<div class="loading-state"><i class="pi pi-spin pi-spinner"></i></div>
}
