<p-card class="survey-card tour-public-encuestas-card">
  <div class="card-content">
    <p-tag [value]="status().value" [severity]="status().severity" />

    <h3 class="title">{{ encuesta().titulo }}</h3>
    <p class="description">{{ encuesta().descripcion }}</p>

    <div class="dates">
      <div class="date-item start">
        <i class="pi pi-calendar"></i>
        <div class="date-info">
          <small>Inicia</small>
          <span>{{ encuesta().fechaInicio | date:'d MMM, y' }}</span>
        </div>
      </div>
      <div class="date-item end">
        <i class="pi pi-calendar-times"></i>
        <div class="date-info">
          <small>Finaliza</small>
          <span>{{ encuesta().fechaFin | date:'d MMM, y' }}</span>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      styleClass="tour-public-encuestas-action"
      [label]="buttonConfig().label"
      [severity]="isAvailable() ? 'primary' : 'secondary'"
      [rounded]="true"
      [disabled]="buttonConfig().disabled"
      [routerLink]="isAvailable() ? ['/encuestas', encuesta().idEncuesta] : null"
      [pTooltip]="buttonConfig().tooltip"
      [icon]="buttonConfig().icon"
      iconPos="right"
      tooltipPosition="top"
      fluid
    />
  </ng-template>
</p-card>
