<div class="auth-page-container">
  <p-card styleClass="auth-card">
    <div class="auth-card-content">
      <div class="auth-form-container">
        <div class="auth-header">
          <app-logo-image />
          <i class="pi pi-lock header-icon"></i>
          <h1>¿Olvidaste tu Contraseña?</h1>
          <p class="subtitle">
            Ingresa tu correo electrónico y te enviaremos un enlace para
            restablecer tu contraseña
          </p>
        </div>

        <div class="auth-content">
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="field">
              <p-floatlabel variant="on">
                <input
                  pInputText
                  id="email"
                  formControlName="email"
                  type="email"
                  autocomplete="email"
                  [style]="{'width': '100%'}"
                  fluid
                />
                <label for="email">Correo Electrónico</label>
              </p-floatlabel>
              @if (isInvalid('email')) {
              <ng-container
                [ngTemplateOutlet]="alerta"
                [ngTemplateOutletContext]="{fieldName: 'email'}"
              />
              }
            </div>

            <div class="auth-button-container">
              <p-button
                type="submit"
                [rounded]="true"
                severity="primary"
                [disabled]="forgotForm.invalid || isSending()"
                styleClass="auth-button"
                fluid
              >
                @if (isSending()) {
                <zoo-loader
                  [size]="20"
                  [color]="'var(--p-primary-contrast-color)'"
                />
                } @else {
                <i class="pi pi-send"></i>
                Enviar Enlace de Recuperación }
              </p-button>
            </div>
          </form>

          <div class="auth-link-container">
            <a routerLink="/login">
              <i class="pi pi-arrow-left"></i>
              Volver al inicio de sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

<ng-template #alerta let-fieldName="fieldName">
  <p-message severity="error" variant="simple" size="small">
    {{ getErrorMessage(fieldName) }}
  </p-message>
</ng-template>